extends ../../../views/rootLayout

include ../../../views/mixins/shelfs/printBooksShelf

block globalNav
    include ../../../views/partials/globalNav

block content
    .div.article
        .article_header.pt-3.pb-3
           | Add Article form






